.h {
    position: fixed;
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    z-index: 1000;
    
}

.h-logo img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.h-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.h-list-item {
    list-style: none;
}

.h-link {
    text-decoration: none;
    color: #fff;
}

.h-link:hover {
    text-shadow:
    0px 0px 10px #FFF,
    0px 0px 10px #FFF,
    0px 0px 10px #FFF;
}